@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Raleway:wght@700;900&display=swap');

@theme {
  --font-sans: 'Jost', sans-serif;
  --font-display: 'Raleway', sans-serif;

  --color-brand-orange: #f97316;
  --color-brand-dark: #0f172a;
  --color-brand-gray: #334155;
  --color-brand-gray-light: #94a3b8;
  --color-brand-white: #f8fafc;
  --color-brand-teal: #14b8a6;
  --color-brand-teal-dark: #1e293b;
  --color-brand-blue-muted: #475569;
}

/* Custom Base Styles */
body {
  background-color: var(--color-brand-dark);
  color: var(--color-brand-white);
  font-family: var(--font-sans);
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}